body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

img
{
    width: 30px;
    height:20px;
}

#news__list
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border:2px solid blue;
}

#news__item
{
    display:flex;
    flex-direction: column;
    height:50px;
    width: 80px;
    background:white;
   
    
}